<ion-view title="Projects">
  <ion-nav-buttons side="right">
    <button class="button button-icon" ng-click="vm.showProjectModal()">
      <i class="icon ion-plus"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>

    <ion-list>
      <ion-item 
        class="item item-icon-right" 
        ng-repeat="project in vm.projects | orderBy:'title'"
        ui-sref="tab.tasks({
          projectId: project.id,
          projectName: project.name
          })
          "
        type="item-text-wrap" 
        >
        {{project.name}}
        <i class="icon ion-chevron-right icon-accessory" ></i>
         <ion-option-button class="button-assertive"
                       ng-click="vm.deleteProject(project)">
      Delete
    </ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
